{
    "singleQuote": true,
    "printWidth": 180,
    "arrowParens": "avoid",
    "proseWrap": "always",
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "semi": true,
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "ignore"
}
