.git/
.devcontainer/
node_modules/
client/node_modules/
dist/
client/dist/
Dockerfile*

config/*
!config/*.template
!config/*.sample.yml

data/*
!data/key/
data/key/*
!data/key/.gitkeep
!data/streamfiles/
data/streamfiles/*
!data/streamfiles/.gitkeep

recorded/*
!recorded/.gitkeep
thumbnail/*
!thumbnail/.gitkeep
drop/*.log*
logs/**/*.log*
channel-logo/

thirdparty/tsreadex/*
!thirdparty/tsreadex/.gitkeep

*.swp
*.log
*.log.*
*.log-*
